extends layout

block content
  div(ng-controller="NHCtrl")
    h1= title
    p Azure service bus: "nh-name"
    table
      thead
        tr
          th Registration id
          th Tags
          th Type
      tbody
        tr(ng-repeat="user in users")
          td {{user.RegistrationId}}
          td {{user.Tags}}
          td {{user._.ContentRootElement}}
